<footer class="page-footer">
    <div class="pt-5 footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2 class="text-white">aGenTIMove</h2>
              <p class="pr-5 text-white-50">Nosso maior objetivo é levar movimento para o dia a dia de todos!</p>
              <p>
                <a class="mx-2" href="#"><i class="fa fa-facebook-square socialsFacebook"></i></a>
                <a class="mx-2" href=""><i class="fa fa-instagram socialsInstagram"></i></a>
                <a class="mx-2" href=""><i class="fa fa-whatsapp socialsWhatsapp"></i></a>
                <a class="mx-2" href=""><i class="fa fa-envelope-o socialsEmail"></i></a>
              </p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="text-white mt-lg-0 mt-sm-3">Links Úteis</h4>
                <ul class="m-0 p-0">
                  <li> <a class="text-white" [routerLink]="['/produtos']">Todos os Serviços</a></li>
                  <li> <a class="text-white" href="#">Sobre Nós</a></li>
                  <li> <a class="text-white" href="#">Trabalhe conosco</a></li>
                </ul>
            </div>
            <div class="text-white col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4"></h4>
              <p>De São Paulo para o mundo</p>
              <p class="mb-0"><i class="fa fa-phone"></i>(11) 99151-2022</p>
              <p><i class="fa fa-envelope-o"></i>agentimove@email.com</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col copyright">
              <p class=""><small class="text-white-50">aGenTIMove© 2022. Todos os direitos reservados.</small></p>
            </div>
          </div>
        </div>
        </div>
    </footer>
