#redes {
    list-style: none;
}

.socialsFacebook{
    color: #ffffff;
    font-size: 1rem;
}

.socialsFacebook:hover{
    color: #3b5998;
}

.socialsInstagram{
    color: #ffffff;
    font-size: 1rem;
}

.socialsInstagram:hover{
    color: #b34597;
}

.socialsWhatsapp{
    color: #ffffff;
    font-size: 1rem;
}

.socialsWhatsapp:hover{
    color:#075E54;
}

.socialsEmail{
    color: #ffffff;
    font-size: 1rem;
}

.socialsEmail:hover{
    color: #bb3b3b;
}

.cor{
    background-color:#689CFC;
}

.cor{
    background-color: #3b5998;
}

.tam{
    font-size: 12px;
}

.footer{
    background:#152F4F;
}

ul {
    list-style: none;
}