<footer class="page-foote cor pt-4">

    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 d-flex justify-content-center mb-3">
                <li id="redes">
                    <a href="https://www.facebook.com/generationbrasil" target="_blank" class="iconFacebook mr-4">
                        <i class="fa fa-facebook-square socialsFacebook" aria-hidden="true"></i>
                    </a>
                </li>

                <li id="redes">
                    <a href="" target="_blank" class="iconInstagram mr-4">
                        <i class="fa fa-instagram socialsInstagram" aria-hidden="true"></i>
                    </a>
                </li>

                <li id="redes">
                    <a href="#" target="_blank" class="iconWhatsapp mr-4">
                        <i class="fa fa-whatsapp socialsWhatsapp" aria-hidden="true"></i>
                    </a>
                </li>

                <li id="redes">
                    <a href="" target="_blank" class="iconEmail">
                        <i class="fa fa-envelope-o socialsEmail" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-2 tam corr">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/ProjetoIntegradorGen">aGenTIMove</a>
    </div>

</footer>