<div class="container-fluid p-0 vh-100 d-flex bg-light align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
  
        <form class="form-signin rounded-sm shadow vw-100">
          <div class="mx-auto" style="width:200px"><img class="mb-4 logo" src="../../assets/img/_Logotipo.png" alt="">
          </div>

          <ul class="nav nav-pills mb-4">
            <li class="nav-item pill-2">
              <a class="nav-link rounded-0" data-toggle="tab" routerLink="/login">Login</a>
            </li>
            <li class="nav-item pill-1">
              <a class="nav-link active rounded-0" data-toggle="tab" routerLink="/cadastro">Cadastrar</a>
            </li>
          </ul>
  
          <div class="tab-content">
  
  
            <div id="login" class="container tab-pane active">
                <label for="nome">Nome completo:</label>
                        <input [(ngModel)]="usuario.nome" class="form-control mb-4" type="text" name="nome" id="nome" placeholder="Seu nome completo">
                        <label for="inputPassword" class="sr-only"></label>
                        <label for="senha">Email:</label>
              <input [(ngModel)]="usuario.usuario" type="email" id="inputEmail" class="form-control mb-4"
                placeholder="Email" name='usuario'>
                <label for="usuario">Link da foto de perfil</label>
                        <input [(ngModel)]="usuario.foto" class="form-control mb-4" type="text" name="foto" id="foto" placeholder="Link da sua foto">
              <label for="inputPassword" class="sr-only"></label>
              <label for="senha">Senha:</label>
              <input class="form-control mb-4" (input)="confirmSenha($event)" type="password" name="senha" id="senha"
              placeholder="Sua senha">
                <label for="confirmSenha">Confirmar senha:</label>
                <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                placeholder="Confirme sua senha">
                        <label class="mt-4" for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>Selecione um tipo de usuário</option>
                            <option value="aluno">Aluno</option>
                            
                            <option value="admin">Administrador</option>
                        </select>
              <div class="one-line mb-2">
              </div>
              <div class="d-flex justify-content-around mt-5">
              <button (click)="cadastrar()" class="btn btn-lg btn-success btn-block w-25" type="submit">Cadastrar</button>
              <button routerLink="/login" class="btn btn-lg btn-danger btn-block w-25" type="submit">Cancelar</button>
            </div>
        </div> 
          </div>
  
        </form>
  
  
  
      </div>
    </div>
  </div>
