<div class="container-fluid p-0 d-flex bg-light align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">

      <form class="form-signin rounded-sm shadow vw-100">
        <!-- <div class="mx-auto" style="width:200px"><img class="mb-4 logo" src="https://imgur.com/zapHOY2.png" alt="">
        </div> -->
        <div class="col-md-12 mt-3 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
            <h1 class="text-center">Atualizar o produto</h1>

            <div class="form-group">
                <label for="produto">Produto</label>
                <input
                [(ngModel)]="produtos.servico"
                class="form-control"
                type="text"
                name="produto"
                id="produto"
                placeholder="Nome do produto"
                />
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea
                [(ngModel)]="produtos.descricao"
                class="form-control"
                name="descricao"
                id="descricao"
                placeholder="Descreva a sua aula"
                cols="30"
                rows="10"
                ></textarea>
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <input
                [(ngModel)]="produtos.valor"
                class="form-control"
                type="text"
                name="valor"
                id="valor"
                placeholder="Digite o valor do seu produto"
                />
            </div>

            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select class="form-control" name="categoria" id="categoria" (change)="categoriaProd($event)">
                <option>{{produtos.categoria}}</option>
                <option value="YOGA">Yoga</option>
                <option value="PILATES">Pilates</option>
                <option value="ALONGAMENTO">Alongamento</option>
                <option value="FUNCIONAL">Funcional</option>
                <option value="ARTE_MARCIAIS">Defesa Pessoal</option>
                <option value="DANÇA">Dança</option>
                </select>
            </div>

            <div class="form-group">
                <label for="equipamentos">Necessita de equipamentos?</label>
                <select class="form-control" name="equipamentos" id="equipamentos" (change)="equipamentosProd($event)">
                <option>{{produtos.equipamentos}}</option>
                <option value="SIM">Sim</option>
                <option value="NÃO">Não</option>
                </select>
            </div>

            <div class="form-group">
                <label for="dequipamentos">Descrição do equipamento:</label>
                <textarea
                [(ngModel)]="produtos.equipDescricao"
                class="form-control"
                type="text"
                name="dequipamentos"
                id="dequipamentos"
                placeholder="Descreva o equipamento caso seja necessário."
                >{{produtos.equipDescricao</textarea>
            </div>

            <div class="form-group">
                <label for="imagem">Link da imagem do serviço</label>
                <input
                [(ngModel)]="produtos.urlImagem"
                class="form-control"
                type="text"
                name="imagem"
                id="imagem"
                placeholder="{{produtos.urlImagem}}"
                />
            </div>

            <div class="d-flex justify-content-center py-3">
                <button
                type="cancel"
                class="btn btn-danger mr-5 w-25"
                [routerLink]="['/administrador']"
                >
                Cancelar
                </button>
                <button
                type="submit"
                class="btn btn-success w-25"
                (click)="atualizar()"
                >
                Atualizar
                </button>
            </div>
            </div>
        </div>
        </div>
    </form></div>
</div>
</div>

