<app-menu></app-menu>

<div class="container-fluid d-flex bg-light justify-content-center p-0 vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center mt-4 mb-5">

      <form class="form-signin rounded-sm shadow vw-100">
        <div class="mx-auto d-flex justify-content-center"><img class="mb-1 logo" src="https://i.imgur.com/ZkW22wY.png" alt="">
        </div>

          <h1 class="text-center fw-bold display-4">Cadastre um novo produto</h1>

          <div class="tab-content">
            <div id="atualizar" class="container tab-pane active">
      <label for="produto">Produto</label>
      <input [(ngModel)]="produtos.servico" class="form-control mb-4" type="text" name="produto" id="produto"
        placeholder="Nome do produto" />

      <label for="descricao">Descrição</label>
      <textarea [(ngModel)]="produtos.descricao" class="form-control mb-4" name="descricao" id="descricao"
        placeholder="Descreva a sua aula" cols="30" rows="10"></textarea>

      <label for="valor">Valor</label>
      <input [(ngModel)]="produtos.valor" class="form-control mb-4" type="text" name="valor" id="valor"
        placeholder="Digite o valor do seu produto" />

      <label for="categoria">Categoria</label>
      <select class="form-control mb-4" name="categoria" id="categoria" (change)="categoriaProd($event)">
        <option>Selecione uma categoria:</option>
        <option value="YOGA">Yoga</option>
        <option value="PILATES">Pilates</option>
        <option value="ALONGAMENTO">Alongamento</option>
        <option value="FUNCIONAL">Funcional</option>
        <option value="ARTE_MARCIAIS">Defesa Pessoal</option>
        <option value="DANÇA">Dança</option>
      </select>

      <label for="equipamentos">Equipamentos</label>
      <select class="form-control mb-4" name="equipamentos" id="equipamentos" (change)="equipamentosProd($event)">
        <option>Necessita de equipamentos?</option>
        <option value="SIM">Sim</option>
        <option value="NÃO">Não</option>
      </select>  

      <label for="dequipamentos">Descrição do equipamento:</label>
      <textarea [(ngModel)]="produtos.equipDescricao" class="form-control mb-4" type="text" name="dequipamentos"
        id="dequipamentos" placeholder="Descreva o equipamento caso seja necessário."></textarea>

      <label for="imagem">Link da imagem do serviço</label>
      <input [(ngModel)]="produtos.urlImagem" class="form-control" type="text" name="imagem" id="imagem"
        placeholder="Link da imagem do serviço" />

    <div class="d-flex justify-content-center py-3">
      <button type="submit" class="btn btn-danger mx-2 w-25" routerLink="/login">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success mx-2 w-25" (click)="cadastrar()">
        Cadastrar
      </button>
    </div>
    </div>
  </div>
</form>
</div>
</div>
</div>
  

