<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-2 mb-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                  <h1 class="text-center">Cadastre um novo produto</h1>

                    <div class="form-group">
                        <label for="produto">Produto</label>
                        <input
                        [(ngModel)]="produtos.servico"
                        class="form-control"
                        type="text"
                        name="produto"
                        id="produto"
                        placeholder="Nome do produto"
                        />
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea
                        [(ngModel)]="produtos.descricao"
                        class="form-control"
                        name="descricao"
                        id="descricao"
                        placeholder="Descreva a sua aula"
                        cols="30"
                        rows="10"
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <label for="valor">Valor</label>
                        <input
                        [(ngModel)]="produtos.valor"
                        class="form-control"
                        type="text"
                        name="valor"
                        id="valor"
                        placeholder="Digite o valor do seu produto"
                        />
                    </div>

                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" name="categoria" id="categoria" (change)="categoriaProd($event)">
                        <option>Selecione uma categoria:</option>
                        <option value="YOGA">Yoga</option>
                        <option value="PILATES">Pilates</option>
                        <option value="ALONGAMENTO">Alongamento</option>
                        <option value="FUNCIONAL">Funcional</option>
                        <option value="ARTE_MARCIAIS">Defesa Pessoal</option>
                        <option value="DANÇA">Dança</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="equipamentos">Equipamentos</label>
                        <select class="form-control" name="equipamentos" id="equipamentos" (change)="equipamentosProd($event)">
                        <option>Necessita de equipamentos?</option>
                        <option value="SIM">Sim</option>
                        <option value="NÃO">Não</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dequipamentos">Descrição do equipamento:</label>
                        <textarea
                        [(ngModel)]="produtos.equipeDescricao"
                        class="form-control"
                        type="text"
                        name="dequipamentos"
                        id="dequipamentos"
                        placeholder="Descreva o equipamento caso seja necessário."
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagem">Link da imagem do serviço</label>
                        <input
                        [(ngModel)]="produtos.urlImagem"
                        class="form-control"
                        type="text"
                        name="imagem"
                        id="imagem"
                        placeholder="Link da imagem do serviço"
                        />
                    </div>

                    <div class="d-flex justify-content-center py-3">
                        <button
                        type="submit"
                        class="btn btn-danger mx-2 w-25"
                        routerLink="/login"
                        >
                        Cancelar
                        </button>
                        <button
                        type="submit"
                        class="btn btn-success mx-2 w-25"
                        (click)="cadastrar()"
                        >
                        Cadastrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="">
          <img src='../../assets/img/young-woman-doing-stretching-exercise-at-home-online-fit-training-at-the-laptop-female-person-in-sportswear-internet-sport-workout-room-interior.jpg' alt="agentimove" class="img-bg">
        </div>


    </div>

</div>
