<app-menu></app-menu>


<div class="container-fluid bg">
  <div class="container">
    <h1 class="text-left mb-4">Todos os serviços</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Todos os serviços</a></li>
      </ol>
    </nav>

  </div>



  <div class="container-fluid">
      <div class="container-md">
          <div class="row d-flex justify-content-around p-0 m-0 p-sm-0 m-sm-0">
              <div class="produto-card my-3" *ngFor='let produtos of listaProdutos'>
                <div class="card rounded" >
                  <img src='{{produtos.urlImagem}}' class="card-img-top"
                    onerror="this.onerror=null;this.src='/../src/assets/img/onerror'" alt="...">
                  <div class="card-body bg-dark vh-40">
                    <h5 class="card-title elipse text-light">{{produtos.servico}}</h5>
                    <p class="card-text text-small text-light" id="maxTam">{{produtos.descricao}}</p>
                    <p class="card-text font-weight-bold text-light">R$ {{produtos.valor}} ,00 por mês</p>
                  </div>
                  <a class="btn btn-danger border border-white w-100" href="">Adicionar ao carrinho <i class="fa fa-shopping-cart px-2 text-white ms-auto" aria-hidden="true"></i></a>
                  <a class="btn btn-danger border border-white w-100" [routerLink]="['/detalheproduto', produtos.id]">Detalhes</a>
                </div>
              </div>
          </div>
    </div>
  </div>


</div>

<app-rodape></app-rodape>
