<div class="container-fluid p-0 vh-100 d-flex bg-light justify-content-center  mb-4">
  <div class="container">
    <div class="row d-flex justify-content-center mt-4">

      <form class="form-signin rounded-sm shadow vw-100">
        <div class="mx-auto" style="width:200px"><img class="mb-2 logo" src="https://i.imgur.com/ZkW22wY.png" routerLink="/inicio">
        </div>

        <ul class="nav nav-pills mb-4">
          <li class="nav-item pill-1">
            <a class="nav-link active rounded-0" data-toggle="tab" routerLink="/login">Login</a>
          </li>
          <li class="nav-item pill-2">
            <a class="nav-link  rounded-0" data-toggle="tab" routerLink="/cadastro">Cadastrar</a>
          </li>
        </ul>

        <div class="tab-content">


          <div id="login" class="container tab-pane active">
            <label for="inputEmail" class="sr-only"></label>
            <input [(ngModel)]="userLogin.usuario" type="email" id="inputEmail" class="form-control mb-4"
              placeholder="Email" name='usuario'>
            <label for="inputPassword" class="sr-only"></label>
            <input [(ngModel)]='userLogin.senha' type="password" class="form-control mb-4" placeholder="Sua senha"
              name="senha">
            <div class="one-line mb-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="checked" value="remember-me"> Lembre de mim.
                </label>

              </div>
              <a class="ms-auto ml-1" href="#">Esqueceu a senha?</a>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="login-as-instructor"> Entrar como instrutor (Em breve)
              </label>
            </div>
            <button (click)="entrar()" class="btn btn-lg btn-dark btn-block" type="submit">Login</button>
          </div>
        </div>

      </form>


    </div>
    </div>
  </div>
