<nav class="nav navbar-dark cor nav-justified nav1">
  <div class="col-6 d-flex justify-content-center">
    <!-- <div class="d-flex align-items-center">
      <form class="form-inline d-flex justify-content-center 	d-none d-sm-block">
        <i class="fa fa-search text-white mr-2" aria-hidden="true"></i>
        <input
          class="form-control form-control-sm w-90 h-25"
          type="text"
          placeholder="Procure no site"
          aria-label="Search"
        />
      </form>
    </div> -->
  </div>

  <div class="col-6 d-flex justify-content-center m-0 p-0"
    *ngIf="!auth.logado()" >
        <div class="d-flex align-items-center">
          <div class="p-0 mr-2"><a class="text-white ml-2" routerLink="/login">Login</a></div>
          <div class="linha-vertical mr-2"></div>
          <div class="p-0">
            <a class="text-white mr-2" routerLink="/cadastro">Cadastre-se</a>
          </div>
        </div>
  </div>

  <div class="col-6 d-flex justify-content-center  align-items-center"
    *ngIf="auth.logado()">
  <div class="d-flex align-items-center p-0 mt-0" *ngIf='auth.admin()'>
      <a [routerLink]="['/administrador']" class="text-white mr-2">ADM<i class="fa fa-unlock-alt mx-2" aria-hidden="true"></i></a>
      <div class="linha-vertical mx-2"></div>
  </div>
    <div class="d-flex align-items-center">
      <div class="p-0 mr-2">
        <a class="text-white" [routerLink]="['/usuario-edit', auth.userId()]">
          <img src="{{foto}}" alt="fotodeperfil" class="perfil rounded-circle ">
          <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
        </a></div>
      <div class="linha-vertical mr-2"></div>
      <div class="p-0 d-flex align-items-center">
       <a routerLink="/carrinho">
        <i class="fa fa-shopping-cart px-2 text-white" aria-hidden="true"></i>
       </a>
       <div class="linha-vertical mx-2"></div>
        <a (click)='sair()'  class="nav-item text-light fs-16 m-0" href="#">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </div>


    </div>
  </div>
</nav>

<!-- Segunda navbar -->

<nav class="nav nav-justified sticky-top navCor">
  <div class="col-6 d-flex justify-content-center divHeight m-0 p-0">
    <div class="d-flex align-items-center p-0 m-0">
      <div>
          <nav class="navbar d-flex align-items-center p-0 m-0 ">
              <a class="navbar-brand" [routerLink]="['/inicio']">
                <img class= "img-fluid logo" src="https://i.imgur.com/wYIx4Bf.png" width="40" height="40" alt="">
                <img src='https://imgur.com/iupHvFR.png' widht="20" height="20"  alt="agentimove" class=" ">
              </a>
          </nav>
      </div>

  </div>
  </div>

  <div class="col-6 d-flex justify-content-lg-start">

        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars navbar-toggler-icon" aria-hidden="true"></i>
            </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class= "fontStyleNav " [routerLink]="['/produtos']">Movimente-se</a>

              </li>

              <li class="nav-item">
                <a class= "fontStyleNav " [routerLink]="['/sobrenos']">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class= "fontStyleNav " [routerLink]="['/trabalhe-conosco']">Trabalhe conosco</a>
              </li>
            </ul>
          </div>
        </nav>

    </div>

</nav>



