.cor {
  background-color: #152F4F;
}

.nav {
  height: 40px;
}

.divHeight {
  height: 35px;
}

.linha-vertical {
  height: 18px;/*Altura da linha*/
  border-left: 2px solid rgba(254, 250, 250, 0.378);/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

