<nav class="nav navbar-dark cor nav-justified sticky-top">
      <div class="col-6 d-flex justify-content-center divHeight">
        <div class="d-flex align-items-center">
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-1">
            <i class="fa fa-search text-white" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-90 h-25" type="text" placeholder="Search"
              aria-label="Search">
          </form>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-center divHeight" *ngIf='!auth.logado()'>
        <div class="d-flex align-items-center">
          <div class="p-2"><a class="text-white" routerLink="/login">Login</a></div>
          <div class="linha-vertical"></div>
          <div class="p-2"><a class="text-white" routerLink="/cadastro">Cadastre-se</a></div>
          <div class="p-0"><i class="fa fa-shopping-cart px-2 text-white" aria-hidden="true"></i></div>
        </div>
        </div>

        <div class="col-6 d-flex justify-content-center divHeight" *ngIf='auth.logado()'>
          <div class="d-flex align-items-center">
            <div class="p-2"><a class="text-white" [routerLink]="['/usuario-edit', auth.userId()]">Editar perfil</a></div>
            <div class="linha-vertical"></div>
            <div class="p-2"></div>
            <div class="p-0"><i class="fa fa-shopping-cart px-2 text-white" aria-hidden="true"></i></div>
          </div>
          </div>
<!--
        <div class="col-6 d-flex justify-content-center divHeight">
          <div class="d-flex align-items-center">
              <div class="p-2"><a class="text-white" routerLink="/login">Login</a></div>
              <div class="linha-vertical"></div>
              <div class="p-2"><a class="text-white" routerLink="/cadastro">Cadastre-se</a></div>
              <div class="p-0"><i class="fa fa-shopping-cart px-2 text-white" aria-hidden="true"></i></div>
          </div>
        </div> -->

    </nav>



