<app-menu></app-menu>

<div class="container-fluid my-4">
  <div class="container">

    <div class="col-md-12">
      <h3 class='text-center '>Carrinho</h3>
    </div>


    <div class="row d-flex align-items-center ">

      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#Id</th>
              <th scope="col">Serviço</th>
              <th scope="col">Descrição </th>
              <th scope="col">Preço</th>
              <th class="text-center" scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of listaCompras'>
              <th scope="row">{{item.produto.id}}</th>
              <td>{{item.produto.servico}}</td>
              <td>{{item.produto.descricao}}</td>
              <td>{{item.produto.valor | currency: "BRL"}}</td>
              <td class="text-center"><a [routerLink]="['/compras-delete', item.id ]"  ><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 d-flex">

              <div class="col-md-6">
                  <h4 class="text-center">Valor total: {{ somaTotalCarrinho() | currency: "BRL"}}</h4>
                  <!-- <p class='text-center'> | currency: "BRL"}}</p> -->
                </div>

                <div class="col-md-6">
                    <button class="btn btn-danger btn-block" (click)="finalizarCompra()">Finalizar compra</button>
                </div>
              </div>
      </div>

    </div>

</div>


<!--


        <div class="row border rounded border-dark p-0 mb-3" *ngFor='let item of listaCompras'>
          <div class="col-md-3 p-0 m-0">
            <img [src]="item.produto.urlImagem" alt=""  class="produtoFoto rounded" >
          </div>
          <div class="col-6 d-flex flex-column justify-content-center">
            <div class="row">
              <h5 class=''>{{item.produto.servico}}</h5>
              <p>Categoria: {{item.produto.categoria}}</p>
              <p class='m-0'></p>
            </div>
          </div>
          <div class="col-3">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <h5 class="text-center"> {{item.produto.valor | currency: "BRL"}}</h5>
            </div>
          </div> -->






<app-rodape></app-rodape>
