<div class="container-fluid">

    <div class="row d-flex align-items-center roww2">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center fontStyle  font-weight-bold ">Nosso Objetivo</h1>
                    <p class="fontColor h4 mb-0 text-center">
                     Visando atingir as metas da ODS-3 <br> <b>Saúde e Bem-estar</b> da ONU,
                    levamos saúde física e mental para dentro da sua casa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-1">
            <img src="https://imgur.com/acC9HjV.png" alt="" width="100%">
        </div>
    </div>

    <div class="row d-flex align-items-center row2">

        <div class="col-md-6">

            <img src="https://imgur.com/YxOCw8f.png" alt="" width="100%">

        </div>
        <div class="col-md-6 mb-1">
            <div class="row mb-5 d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center fontStyle display-4 font-weight-bold">Porque aGenTIMove?</h1>
                    <p class="text-center fontColor h4">
                      Aqui você encontra profissionais de saúde credenciados e qualificados com um preço acessível.

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="container-fluid p-0 bg d-flex align-items-center">
    <div class="container d-flex align-items-start pt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center fontColor font-weight-bold display-3 mb-4">Nosso Projeto</h1>
            <p class="fontColor h2 mb-0 text-justify">O projeto aGenTIMove é pautado na ODS número 3 "Saúde e Bem-estar" da ONU.
                Pensando na melhora da qualidade de vida e da saúde física e mental, oferecemos aulas online com valor social. Juntos podemos transformar nossos sonhos em realidade!
                </p>

            </div>
            <div class="col-md-6">
                <img src="https://imgur.com/teTksz1.png" width="100%" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron bgGrandient vw-100 d-flex justify-content-end">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div> -->
