<div class="container-fluid d-flex bg-light justify-content-center p-0 vh-100">
    <div class="container">
      <div class="row d-flex justify-content-center mt-4 mb-5">

        <form class="form-signin rounded-sm shadow vw-100">
          <div class="mx-auto" style="width:200px"><img class="mb-1 logo" src="https://i.imgur.com/ZkW22wY.png" alt="">
          </div>

          <h2 class="text-center fw-bold display-4 ">Atualizar Usuário</h2>


          <div class="tab-content">
            <div id="login" class="container tab-pane active">
                <label for="nome">Nome completo:</label>
                        <input [(ngModel)]="usuario.nome" class="form-control mb-4" type="text" name="nome" id="nome" placeholder="Seu nome completo">
                        <label for="inputPassword" class="sr-only"></label>

                        <label for="senha">Email:</label>
                        <input [(ngModel)]="usuario.usuario" type="email" id="inputEmail" class="form-control mb-4"
                          placeholder="Email" name='usuario'>

                        <label for="usuario">Link da foto de perfil</label>
                        <input [(ngModel)]="usuario.foto" class="form-control mb-4" type="text" name="foto" id="foto" placeholder="Link da sua foto">

                        <label for="inputPassword" class="sr-only"></label>
                        <label for="senha">Senha:</label>
                        <input class="form-control mb-4" (input)="confirmSenha($event)" type="password" name="senha" id="senha"
                        placeholder="Sua senha">
                        <label for="confirmSenha">Confirmar senha:</label>
                        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">

                        <label class="mt-4" for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>{{usuario.tipo}}</option>
                            <option value="aluno">Padrão</option>
                            <!-- <option value="admin">Administrador</option> -->
                        </select>

                    <div class="one-line mb-2"></div>

                    <div class="d-flex justify-content-between mt-3">
                          <button (click)="atualizar()" class="btn btn-lg btn-success btn-block w-25" type="submit">Cadastrar</button>
                          <button routerLink="/inicio" class="btn btn-lg btn-danger btn-block w-25" type="submit">Cancelar</button>
                    </div>
                </div>
              </div>

        </form>



      </div>
    </div>
  </div>
