h2{
font-size: 2rem;
}

.bg1{
background-color: var(--white-color-2);
}

.bg2{
width: 60vw ;
background-color: var(--white-color);
border-radius: 15px;
}

.form-signin{
background: white;
padding: 50px 80px;
min-height: 620px;
}

.logo{
width: 100px;
}
.one-line{
display: flex;
}


