<app-menu></app-menu>
<!-- Formulário de contato-->
 <div class="container-fluid p-0 vh-100 d-flex bg1 justify-content-center">
   <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="row ">
        <div class="col-md-12 bg2 mt-4 p-4 ">
          <form>
        <div class="d-flex justify-content-center">
          <img class="mt-2 mb-4 logo" src="https://i.imgur.com/gB3sqws.png" alt="">
        </div>
          <h2 class="text-center playFair">
                Faça parte da nossa equipe
          </h2>
          <p></p>
                <div class="form-group">
                    <label for="exampleFormControlInput1">E-mail de contato</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="nome@email.com" onkeyup="validaEmail()">
                    </div>

                    <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecione a área desejada</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected disabled>Selecione a sua especialidade</option>
                        <option>Personal Trainner</option>
                        <option>Nutricionista</option>
                        <option>Educador(a) Físico</option>
                        <option>Outros</option>
                    </select>
                    </div>

                    <div class="form-group">
                    <label for="exampleFormControlTextarea1">Escreva uma breve apresentação pessoal</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" onkeyup="validaApresentacao()">Digite aqui...</textarea>
                    </div>

                    <div class="row px-3">
                        <div class="form-group w-75">
                            <label for="exampleFormControlFile1">Anexe seu currículo em documento do Word ou PDF</label>
                            <input type="file" class="form-control-file " id="exampleFormControlFile1">
                        </div>

                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-success mt-4" onclick="enviar()">Finalizar Cadastro</button>
                        </div>
                    </div>
                </form>
           </div>
        </div>
      </div>
    </div>
   </div>
   <app-rodape></app-rodape>
