<div class="cointainer-fluid bgCategoria d-flex align-items-center">
    <div class="container mt-5">
      <h2 class="text-center font-weight-bold mb-3 fontCardColor fontStyle display-4">Comece a se mover agora mesmo!</h2>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/6qoGzye.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text text-center fontCardColor font-weight-bold mt-2">YOGA</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>    
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/JP5mWka.png" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center font-weight-bold mt-2">DANÇA</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/AvWhd21.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center font-weight-bold mt-2">FUNCIONAL</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/6qoGzye.jpg.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">ARTES MARCIAIS</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/Cy05dq5.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">PILATES</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao p-0 mt-5 mb-5" style="width: 20rem;">
            <img src="https://imgur.com/cUQUkyh.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">ALONGAMENTO</h4>
              <a class="btn w-100 text-white mt-1">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>