<div class="cointainer-fluid bgCategoria d-flex align-items-center">
    <div class="container mt-3">
      <h2 class="text-center font-weight-bold mb-3 mt-0 fontCardColor fontStyle ">Comece a se mover agora mesmo!</h2>

      <div class="row">
        <div class="col-lg"></div>
        <div class="col d-flex justify-content-center ">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0">
            <img src="https://imgur.com/6qoGzye.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0 mb-0">
              <h4 class="card-text text-center fontCardColor font-weight-bold mt-0">YOGA</h4>
              <a class="btn w-100 text-white">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0 " >
            <img src="https://imgur.com/JP5mWka.png" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center font-weight-bold mt-2">DANÇA</h4>
              <a class="btn w-100 text-white mt-0">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0">
            <img src="https://imgur.com/AvWhd21.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center font-weight-bold mt-2">FUNCIONAL</h4>
              <a class="btn w-100 text-white mt-0">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg"></div>
      </div>
      <div class="row">
        <div class="col-lg"></div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0">
            <img src="https://imgur.com/X4hCyTc.jpeg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">ARTES MARCIAIS</h4>
              <a class="btn w-100 text-white mt-0">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center ">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0">
            <img src="https://imgur.com/Cy05dq5.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">MEDITAÇÃO</h4>
              <a class="btn w-100 text-white mt-0">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a routerLink="/produtos">
          <div class="card cardAnimacao cardcat p-0 mx-1">
            <img src="https://imgur.com/cUQUkyh.jpg" class=" card-img-top" alt="...">
            <div class="card-body p-0">
              <h4 class="card-text fontCardColor text-center  font-weight-bold mt-2">ALONGAMENTO</h4>
              <a class="btn w-100 text-white mt-0">Saiba mais</a>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg"></div>
      </div>
    </div>
  </div>
