
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&family=Sora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,800&family=Open+Sans:wght@300;400;700;800&family=Poppins:ital,wght@0,200;0,400;0,800;0,900;1,600&display=swap');

:root {
  --primary-color: #295AB3;
  --primary-color-2:#81AEFF;
  --primary-color-3:#689CFC;
  --second-color: #FDB519;
  --second-color-2:#FED886 ;
  --third-color: #368BD7 ;
  --white-color: #FEFEFB;
  --white-color-2: #E4ECF0;
  --dark-color: #132A53;
}

html {
  scroll-behavior: smooth;
}
/*
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

h{
  font-family: 'Poppins', sans-serif;
}