<app-menu></app-menu>

<div class="container-fluid p-0 d-flex align-items-center">
  <div id="carouselExampleControls" class="caousel-fade carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgur.com/VxFdCGA.jpg" class="img-fluid" id="imgCarousel" alt="...">
        <div class="carousel-caption caption1 d-none d-md-block">
          <h5 class="h1 text-left font-weight-bold">Exercite-se</h5>
          <p class="text-left">Fortaleça seus ossos e articulações!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/yJbm8kM.jpg" class="d-block w-100" id="imgCarousel" alt="...">
        <div class="carousel-caption caption3 d-none d-md-block">
          <h5 class="h1 text-right font-weight-bold">Alongue-se</h5>
          <p class="text-right">Melhore sua postura e reduza dores musculares!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://imgur.com/YG4dQ9i.jpg" class="d-block w-100" alt="..." id="imgCarousel">
        <div class="carousel-caption caption2 d-none d-md-block">
          <h5 class="h1 text-right font-weight-bold">Pratique Yoga</h5>
          <p class="text-right">Diminua seu estresse!</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    </button>
  </div>
</div>

<app-objetivos></app-objetivos>

<app-categorias></app-categorias>

<app-rodape></app-rodape>
