
  h5{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: var(--second-color);
  }

  p {
    font-family: 'Poppins', sans-serif;
  }

  .fs-1{
    font-size: 1.25rem;
  }

  .dropdown-item:hover {
    color: #FFFFFF;
    background-color: #3b5998;
  }

.btn-arrow{
  font-size: 2rem;
  color: #e4ecf056;
}

#imgCarousel {
    filter: brightness(40%);
    max-height: 100vh !important;
    min-width: 99vw;
    background-size: cover;
    object-fit: cover;
    background-position: inherit;
    background-repeat: no-repeat;

}


.carousel-fade .carousel-item {
	transition-duration: .10s;
}

.caption1{
  width: 30rem ;
    top: 10%;
    left: 60%;
}

.caption2 {
  width: 30rem;
  top: 25%;
  left: 55%;
}

.caption3 {
  width: 30rem ;
  top: 15%;
  right: 180%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

