<nav class="nav nav-justified sticky-top navCor">
    <div class="col-6 d-flex justify-content-center mt-1 divHeight">
      <div class="d-flex align-items-center">
        <div>
            <nav class="navbar d-flex align-items-center mb-1 mr-0">
                <a class="navbar-brand" [routerLink]="['/inicio']">
                  <img class= "img-fluid logo" src="../../assets/img/logo_vetor.png" width="30" height="30" alt="">
                  <img src='../../assets/img/logo_nome_azul.png' widht="20" height="20"  alt="agentimove" class="">
                </a>
            </nav>
        </div>
        <!-- <div class="p-2 text-dark fontStyleNav h5 mt-2">aGenTIMove</div> -->
    </div>
    </div>

    <div class="col-6 d-flex justify-content-center mt-1 divHeight">
        <div class="d-flex align-items-center">
            <div class="dropdown">
                <a class="fontStyleNav btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                  Aulas
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="fontStyleNav dropdown-item" href="#">Yoga</a>
                  <a class="fontStyleNav dropdown-item" href="#">Pilates</a>
                  <a class="fontStyleNav dropdown-item" href="#">Alongamento</a>
                  <a class="fontStyleNav dropdown-item" href="#">Funcional</a>
                  <a class="fontStyleNav dropdown-item" href="#">Artes Marciais</a>
                  <a class="fontStyleNav dropdown-item" href="#">Dança</a>
                </div>
              </div>
            <div class="p-2"><a class= "fontStyleNav text-dark" href="#">Sobre nós</a></div>
            <div class="p-2"><a class= "fontStyleNav text-dark" href="#">Contato</a></div>
      </div>
    </div>
</nav>

  <div class="container-fluid p-0 mb-5 bg-light vh-100 d-flex align-items-center">
      <div id="carouselExampleControls" class="caousel-fade carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/pexels-karolina-grabowska-4498610.jpg" class="d-block w-100" id="imgCarousel" alt="...">
                <div class="carousel-caption caption1 d-none d-md-block">
                    <h5 class="h1 text-left font-weight-bold">Exercite-se</h5>
                    <p class="text-left">Fortaleça seus ossos e articulações!</p>
                </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/pexels-ron-lach-7900044.jpg" class="d-block w-100" id="imgCarousel" alt="...">
            <div class="carousel-caption caption3 d-none d-md-block">
                <h5 class="h1 text-right font-weight-bold">Alongue-se</h5>
                <p class="text-right">Melhore sua postura e reduza dores musculares!</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/pexels-koolshooters-6246246.jpg" class="d-block w-100" alt="..." id="imgCarousel">
            <div class="carousel-caption caption2 d-none d-md-block">
                <h5 class="h1 text-right font-weight-bold">Pratique Yoga</h5>
                <p class="text-right">Diminua seu estresse!</p>
              </div>
          </div>

          </div>
              <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                </button>
              <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
              </button>
        </div>
  </div>

  <div class="container-fluid pt-4 mt-4">
    <hr>

    <app-produtos></app-produtos>

  </div>

