.github{
 color: #080808;
 font-size:2rem;
}
.linkedin{
color: #080808;
font-size: 2rem;
}    
.linkedin:hover{
color: #3b5998;
}
.github:hover{
color: #3b5998;
}
body{
                                                            
}