<app-menu></app-menu>

<div class="container mb-5 mt-5">

  <div class="row d-flex">
    <div class="col-md-12 d-flex justify-content-center">
      <h1>Sobre Nós</h1>
      <h2>Desenvolvedores Full Stack Generation Brasil</h2>
    </div>

  </div>

  <div class="col-md-12 ">
    <div class="row d-flex justify-content-center mt-5">
      <div class="card border-0" style="width: 14rem;">
        <img class="rounded-circle p-3" src="https://avatars.githubusercontent.com/u/98026664?v=4" alt="Foto de Carolina">
        <div class="card-body">
          <p class="card-text">Nome e link das redes (icone github e linkedin)</p>
        </div>
      </div>
        <div class="card border-0" style="width: 14rem;">
          <img class="rounded-circle p-3" src="https://avatars.githubusercontent.com/u/41304141?v=4" alt="Foto de Dharan">
          <div class="card-body">
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          </div>
        </div>
          <div class="card border-0" style="width: 14rem;">
            <img class="rounded-circle p-3" src="https://avatars.githubusercontent.com/u/49201289?v=4" alt="Foto de Fernando">
            <div class="card-body">
              <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            </div>
          </div>
            <div class="card border-0" style="width: 14rem;">
              <img class="rounded-circle p-3" src="https://avatars.githubusercontent.com/u/62486132?v=4" alt="Foto de Igor">
              <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>
            <div class="card border-0" style="width: 14rem;">
              <img class="rounded-circle p-3" src="https://avatars.githubusercontent.com/u/69766463?v=4" alt="Foto de Ingrid">
              <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>
            <div class="card border-0" style="width: 14rem;">
              <img class="rounded-circle p-3" src="https://media-exp1.licdn.com/dms/image/D4E35AQFXtlwbX6qFpQ/profile-framedphoto-shrink_200_200/0/1647375958082?e=1649631600&v=beta&t=iLccKWk3LhFQpD0C9xpHbBtkL7UMCiNxpYBKH5wqU7k" alt="Foto de Luiz">
              <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>